// Dark theme overrides
// $AU-colordark-foreground-text:   #ffffff;
// $AU-colordark-foreground-action: #f9f9f9;
// $AU-colordark-foreground-focus:  #13e241;
// $AU-colordark-background:        #134169;

// Light theme overrides
// $AU-color-foreground-action: #134169;
// $AU-color-foreground-focus:  #0C8927;

//Main nav, set project specific breakpoint
$AU-main-nav-breakpoint: sm;

// UI-Kit
@import './_auds.scss';


// Reset the body
body {
	padding: 0;
	margin: 0;
}


// Increase the spacing for au-body elements inside main
main > .au-body {
	@include AU-space( padding, 2unit 0 );

	@include AU-media( sm ) {
		@include AU-space( padding, 4unit 0 );
	}
}


// Slight grid changes for container fluid
.au-grid .container-fluid {
	@include AU-space( max-width, 80unit );

	@include AU-media( sm ){
		@include AU-space( padding-left, 2unit );
		@include AU-space( padding-right, 2unit );
	}
}

// Increase spacing between inline list items in footer
.au-footer .au-link-list--inline li {
	@include AU-space( padding-right, 1unit );
}

// The call to actions on the home page
.btn-cta-group {
	@include AU-space( margin-top, 1unit );

	.au-btn {
		@include AU-space( margin-top, 1unit );
	}
}


// Home page highlighted spacing on mobile
.highlighted-section .col-sm-4 + .col-sm-4 {
	@include AU-space( margin-top, 4unit );

	@include AU-media( sm ) {
		margin-top: 0;
	}
}


// Mobile side nav spacing
.au-side-nav {
	@include AU-space( margin-bottom, 2unit );

	@include AU-media( sm ){
		margin-bottom: 0;
	}
}

form {
	@include AU-space( margin-top, 2unit );

	label + input,
	label + textarea {
		@include AU-space( margin-top, .5unit );
	}
}

.hide_content {
	display: none;
}

.au-form-group + .au-form-group {
	@include AU-space( 'margin-top', 1.5unit)
}
