//QGOV: Overrides for core DTA colours
$qg-blue: #005e85;
$qg-blue-variant: #004765;
$qg-white: white;
$qg-black: black;
$qg-grey: #4a4a4a;
$qg-accent: #f5f5f5;
$qg-focus: #80009a;
$qg-font: Lato, Helvetica, Arial, sans-serif;

//Breakpoint
$AU-main-nav-breakpoint: sm;

//Light default
$AU-color-foreground-action: $qg-blue;
$AU-color-foreground-focus: $qg-focus;
$AU-color-foreground-text: $qg-black;
$AU-color-background: $qg-white;

//Dark default
$AU-colordark-foreground-text: $qg-white;
$AU-colordark-foreground-action: $qg-blue;
$AU-colordark-foreground-focus: $qg-focus;
$AU-colordark-background: $qg-blue;

//Overrides to core DTA -
html,
body,
nav,
.au-header,
.au-body,
.au-footer,
form,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a {
	font-family: $qg-font !important;
}

//Header styles ------------------------------------------
.au-header {
	padding: 1rem 1rem 1rem 1rem !important;
	.au-header__brand-image--dark {
		display: none;
	}
	.au-header__brand {
		margin-top: 2rem;
	}
}
.au-header--dark {
	background-color: $qg-blue !important;
	.au-header__brand-image {
		display: none !important;
	}
	.au-header__brand-image--dark {
		display: block;
	}
	.au-btn {
		background-color: black;
		border-color: black;
	}
}

//QG utilities bar
div.qg-utilities-bar {
	height: 44px;
	background: $qg-blue;
	p {
		color: $qg-white;
		font-family: inherit;
		font-weight: 800;
	}
	form {
		margin-top: 0;
	}
}
div.qg-utilities-bar--dark {
	background: $qg-grey;
}

//Header
.au-header__brand {
	display: inline-block;
	.au-header__brand-image {
		float: left;
	}
	.au-header__brand-image + .au-header__text {
		float: left;
	}
}

//Main nav
.au-main-nav,
.au-main-nav--submenu {
	li.active {
		background-color: $qg-accent !important;
		a {
			border-color: $qg-accent !important;
		}
	}
}
.au-main-nav {
	.home-icon {
		height: 18px !important;
		padding-top: 2px;
	}
	.icon-text {
		height: 1px;
		width: 1px;
		position: absolute;
		z-index: -99;
	}
	.au-link-list {
		float: left !important;
	}
	.au-link-list + .au-main-nav--submenu {
		float: right !important;
	}
}

.au-main-nav--dark {
	background-color: $qg-blue !important;
	border-color: $qg-blue-variant !important;
	.au-main-nav__content {
		.au-main-nav__toggle {
			color: $qg-grey !important;
			background-color: $qg-white !important;
		}
		.au-main-nav__toggle--open {
			color: $qg-white !important;
			background-color: $qg-blue-variant !important;
		}
		.au-main-nav__menu {
			background-color: $qg-white !important;
			color: $qg-grey !important;
		}
	}
	li,
	li.active {
		background-color: $qg-blue !important;
		border-color: $qg-blue !important;
		a {
			color: $qg-white !important;
			border-color: $qg-blue !important;
			border-bottom: 0px !important;
		}
		a:hover,
		a:active {
			background-color: $qg-blue-variant !important;
		}
	}
}

//Alt accent override
.au-body.au-body--alt {
	background: $qg-accent !important;
}
.au-body.au-body--alt.app-feature {
	padding: 2rem 0rem !important;
}

//Section padding/alt accent
section.page_header,
section.page_header--dark {
	background-color: $qg-accent !important;
	padding: 1rem 0rem 2rem 0 !important;
}

section.form_header {
	background-color: $qg-accent !important;
	padding: 0.2rem 0rem 0.2rem 0 !important;
}
section.section {
	padding: 2rem 0rem !important;
	margin: 2rem 0rem !important;
}

//Footer
.au-footer,
.au-footer--dark {
	background-color: $qg-blue !important;
	li a,
	li a:visited,
	li a:active,
	p {
		color: $qg-white !important;
		text-align: center;
		margin: 0px auto !important;
	}
	div.au-footer__end {
		border-top: 0px solid $qg-white !important;
	}
	nav {
		text-align: center;
	}
}

//Mobile ----------------------------------------------
@media (max-width: 769px) {
	.au-header__brand {
		margin-top: 0px !important;
	}
	.search-container {
		display: none;
	}
	.au-footer {
		text-align: left;
	}
	.au-main-nav--dark li a,
	.au-main-nav--dark li.active a {
		background-color: $qg-white !important;
		color: $qg-grey !important;
	}
	.au-link-list {
		float: left !important;
	}
}
